
.background{
    margin: 0;
    padding: 0;
}
    
.back1{
    position: relative;
}
.back1 .tit1{
display: flex;
gap:26px;
font-family: "IBM Plex Sans", serif;
font-optical-sizing: auto;
font-weight: 500;
font-size: 20px;
}
.back1 .tit1 .a1{
    position: absolute;
    width:57px;
    height: 43px;
    top: 27px;
    left: 856px;
}
.back1 .tit1 .a2{
position: absolute;
width: 106px;
height: 43px;
top: 27px;
left: 956px;
}
.back1 .tit1 .a3{  
    position: absolute;  
width: 71px;
height: 43px;
top: 27px;
left: 1021px;
}
.back1 .tit2{
    display: flex;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
}
.tit2 h1{
    position: absolute;
    width: 506px;
height: 105px;
top: 228px;
left: 148px;
font-weight: 700;
font-size: 44px;
}
.tit2 p{
    position: absolute;
    width: 497;
height: 66;
top: 373px;
left: 148px;
}
.tit2 button{
    position: absolute;
    width: 208px;
height: 47px;
top: 477px;
left: 148px;
border-radius: 2px;
background-color: #ff6464;
border-radius: 2px;
color: white;
line-height: 29.38px;
font-weight: 500;
border: 1px;
font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
}
.tit2 img{
width: 243px;
height: 243px;
border-radius: 50%;
position: absolute;
top: 210px;
left: 760px;
box-shadow: -5px 10px  #EDF7FA;
}
.back2{
    background-color: #EDF7FA;
    position:relative;
    width: 1152px;
    height: 396px;
    top: 595px;
}
.back2 .tit3{
    display: flex;
font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
}
.tit3 h3{
    margin: 0;
position: absolute;
width: 129px;
height: 60px;
top: 7px;
left: 148px;
font-size: 22px;
font-weight: 400;
line-height: 60px;

}
.tit3 .chu{
position: absolute;
width: 208px;
height: 27px;
top: 27px;
left:930px;
color: #00A8CC;
font-weight: 400;
font-size: 16px;
line-height: 23.5px;
}
.back2 .tit4{
    display: flex;
    position: absolute;
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
}
.back2 .tit5{
    background-color: white;
    position: absolute;
    width: 418px;
height: 295px;
top: 69px;
left: 148px;
border-radius: 4px;
}
.back2 .tit6{
    background-color: white;
    position: absolute;
    width: 418px;
height: 295px;
top: 69px;
left: 586px;
border-radius: 4px;
}
.back2 .chu{
    margin-left: 20px;
}
.back3{
    font-family: "IBM Plex Sans", serif;
    font-optical-sizing: auto;
}
.back3 h3{
    position: absolute;
    width: 152px;
height: 60px;
top: 1006px;
left: 148px;
}
.back3 .tit8{
    display: flex;

}
.tit81 img{
    position: absolute;
width: 246px;
height: 180px;
top: 1088px;
left: 146px;
border-radius: 6px;
}
.back3 .chu81{
    position: absolute;
    top: 1062px;
    left: 410px;
}
.back3 .time1{
position: absolute;    
background-color: #142850;
width: 62px;
height: 29px;
top: 63px;
left: 0px;
border-radius: 16px;
color: white;
font-size: 18px;
font-weight: 900;
}
.back3 .chu811{
position: absolute;
width: 374;
height: 34;
top: 41px;
left: 88px;
color: #8695A4;
font-size: 20px;
}
.back3 .chu812{
    position: absolute;
width: 594px;
height: 93px;
top: 100px;
left: 0px;
}

.tit82 img{
position: absolute;
width: 246px;
height: 180px;
top: 1314px;
left: 146px;
border-radius: 6px;
}
.back3 .chu82{
    position: absolute;
    top: 1290px;
    left: 410px;
}
.back3 .time2{
position: absolute;    
background-color: #142850;
width: 62px;
height: 29px;
top: 63px;
left: 0px;
border-radius: 16px;
color: white;
font-size: 18px;
font-weight: 900;
}
.back3 .chu821{
position: absolute;
width: 374;
height: 34;
top: 41px;
left: 88px;
color: #8695A4;
font-size: 20px;
}
.back3 .chu822{
    position: absolute;
width: 594px;
height: 93px;
top: 100px;
left: 0px;
}
.tit83 img{
position: absolute;
width: 246px;
height: 180px;
top: 1560px;
left: 146px;
border-radius: 6px;
}
.back3 .chu83{
    position: absolute;
    top: 1530px;
    left: 410px;
}
.back3 .time3{
position: absolute;    
background-color: #142850;
width: 62px;
height: 29px;
top: 63px;
left: 0px;
border-radius: 16px;
color: white;
font-size: 18px;
font-weight: 900;
}
.back3 .chu831{
position: absolute;
width: 374;
height: 34;
top: 41px;
left: 88px;
color: #8695A4;
font-size: 20px;
}
.back3 .chu832{
    position: absolute;
width: 594px;
height: 93px;
top: 100px;
left: 0px;
}
.back4{
    position: absolute;
    width: 1152px;
    height: 182px;
    top: 1859px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.back4 .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
}
.back4 p{
    position: absolute;
    width: 222;
height: 21px;
top: 107px;
left: 464px;

}